<div class="row">
  <h1 class="main-heading"> Welcome To Bit.ly...The Remix </h1>
  <h3 class="heading"> Shorten Your Link </h3>

  <div class="col-sm-offset-2 col-sm-7">
    <%= form_for :link, url: links_path do |f| %>
      <%= f.text_field :orig_url, class:"form-control input-lg link-input", placeholder: "Enter Your Link in this format: www.google.com" %>
      <%= f.submit "Get Shortened Url", class: "submit-button" %>
    <% end %>
  </div>
</div>


  <div class="row">
    <%= form_for :link, url: links_path, method: :get, html: { class: "checkbox-form" } do |f| %>
      <%= f.label :most_recent %>
      <%= f.check_box :most_recent, data: { attribute: 'created_at' } %>

      <%= f.label :most_views %>
      <%= f.check_box :most_views, data: { attribute: 'clicks' } %>

      <%= f.submit "Filter" %>
    <% end %>
  </div>

<div class="row">
  <div class="all-links">
    <% @links.each do |link| %>
      <li>
        <strong> Title: </strong> <span class="lead"><%= link.title %></span>
        <em>created_at:</em> <%= link.created_at %> <br>
        <strong>Original Url:</strong> <%= truncate(link.orig_url, length: 130, omission: "...(Hi Steve!!! This link is too long...so I truncated it with this extra long description.)") %><br>
        <strong>Shortened Url:</strong> <%= link_to link.short_url, link_path(link), class: "short-link" %>
        <strong>Visits:</strong> <%= link.clicks %>
      </li>
      </br>
    <% end %>
  </div>
</div>
