<div class="row">
  <h1 class="main-heading"> Welcome To Bit.ly...The Remix </h1>
    <h3 class="heading"> Shorten Your Link </h3>

  <div class="col-sm-offset-2 col-sm-7">
    <%= form_for :link, url: links_path do |f| %>
      <%= f.text_field :orig_url, class:"form-control input-lg link-input", placeholder: "Enter Your Link in this format: https://www.kottke.org" %>
      <%= f.submit "Get Shortened Url", class: "submit-button" %>
    <% end %>
  </div>
</div>

<div class="row">
  <strong> <em>Sort by (using jQuery and JSON):</em> </strong>
  <%= form_for :link, url: links_path, method: :get, html: { class: "checkbox-form" } do |f| %>
    <%= f.label :most_recent %>
    <%= f.radio_button :link, :most_recent, data: { attribute: 'created_at' } %>

    <%= f.label :most_views %>
    <%= f.radio_button :link, "most views", { checked: true, data: { attribute: 'clicks' } } %>
  <% end %>
</div>

<%= button_to "Delete", link_path(1), method: :delete %>

<div class="row">
  <div class="all-links">

  </div>
</div>
