<div class="row">
  <h1 class="main-heading"> Welcome To Bit.ly...The Remix </h1>
  <h3 class="heading"> Shorten Your Link </h3>

  <div class="col-sm-offset-2 col-sm-7">
    <%= form_for :link, url: links_path do |f| %>
      <%= f.text_field :orig_url, class:"form-control input-lg link-input", placeholder: "Enter Your Link in this format: www.google.com" %>
      <%= f.submit "Get Shortened Url", class: "submit-button" %>
    <% end %>
  </div>
</div>


  <div class="row">
    <%= form_for :link, url: links_path, method: :get, html: { class: "checkbox-form" } do |f| %>
      <%= f.label :most_recent %>
      <%= f.check_box :most_recent, data: { attribute: 'created_at' } %>

      <%= f.label :most_views %>
      <%= f.check_box :most_views, { checked: true, data: { attribute: 'clicks' } } %>

      <%= f.submit "Filter" %>
    <% end %>
  </div>

<div class="row">
  <div class="all-links">

  </div>
</div>
