<% sorted.forEach(function(link) { %>
  <li>
    <strong> Title (obtained through Faraday and Nokogiri): </strong> <span class="lead"><%= link.title %></span><br>
    <em>created_at:</em> <%= link.created_at %> <br>
    <strong>Original Url:</strong>
    <%= _.trunc(link.orig_url, {
      'length': 144,
      'omission': "...(This link is too long...had to truncate with EJS+loDash since truncate helper doesn't work in JavaScript land.)"
    }) %>
    <br>
    <strong>Shortened Url:</strong> <a class="short-link" href="/links/<%= link.id %>"> <%= link.short_url %> </a>
    <strong>Visits:</strong> <%= link.clicks %>
  </li>
  </br>
<% }); %>
